---
import "./styles.css"
---
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="YHW Server Managing team."/>
  <meta name="author-email" content="labs.team@yuanhau.com" />
	<meta name="generator" content={Astro.generator} />
  <title>Aww snap!</title>
  <script defer src="https://data.yuanhau.com/script.js" data-website-id="236923e1-a176-4d79-9ee8-a2c91277aeb1"></script>
</head>
  <style>
</style>
<body>
      <div class="hidden opacity-100"></div> <!--Filler-->
    <div id="gradient" class="absolute inset-0">
        <div class="gradient-layer absolute inset-0 opacity-0 transition-opacity duration-[3s] bg-gradient-to-bl from-blue-600 to-teal-800"></div>
        <div class="gradient-layer absolute inset-0 opacity-0 transition-opacity duration-[3s] bg-gradient-to-bl from-green-700 to-teal-800"></div>
        <div class="gradient-layer absolute inset-0 opacity-0 transition-opacity duration-[3s] bg-gradient-to-bl from-green-700 to-amber-800"></div>
        <div class="gradient-layer absolute inset-0 opacity-0 transition-opacity duration-[3s] bg-gradient-to-bl from-blue-600 to-amber-800"></div>
    </div>
    <div class="flex flex-col justify-center text-center absolute inset-0 m-auto text-white z-10" id="main-content">
        <span class="text-6xl md:text-12xl translate-y-5">˙◠˙</span>
        <span class="text-xl md:text-3xl pt-1" id="text">Aww snap! The service you are trying to access does not exist or broke!</span>
        <span class="text-blue-100 hover:text-amber-200 transition-all duration-300">
            <a href="mailto:ero@yhw.tw">ero@yhw.tw</a>
        </span>
        <noscript>Please turn on JS.</noscript>
    </div>
</body>
  <script>
    const gradientLayers = document.querySelectorAll("#gradient .gradient-layer");
    let colorIndex = 0;
    function applyNextColor() {
      if (gradientLayers[colorIndex]) {
         gradientLayers[colorIndex].classList.remove("opacity-100");
      }

      colorIndex = (colorIndex + 1) % gradientLayers.length;

      if (gradientLayers[colorIndex]) {
         gradientLayers[colorIndex].classList.add("opacity-100");
      }
    }

    if (gradientLayers.length > 0) {
        gradientLayers[colorIndex].classList.add("opacity-100");
    }
    setInterval(applyNextColor, 5000)
	const title = document.querySelector('title');
  title.innerText = "Aww snap! You are somewhere deep in the unknown hole!"
  </script>
</html>
